In [1]:
import pandas as pd
import gzip
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [3]:
with gzip.open("../data/raw/usa_00035.dta.gz", "rb") as file:
    df = pd.read_stata(file)
    
df.shape
df.head()
df.columns

(376035, 136)

,year,datanum,serial,hhwt,statefip,countyfips,city,puma,homeland,gq,...,vetwwii,vetother,pwstate2,pwpuma00,tranwork,carpool,riders,trantime,departs,arrives
0,2016,1,67752,102,california,107,not in identifiable city (or size group),10702,puma does not include a homeland area,households under 1970 definition,...,"n/a; n/a or no (1980, 1990 us)",n/a (all years) or no,n/a,0,n/a,n/a,n/a,0,0,0
1,2016,1,67752,102,california,107,not in identifiable city (or size group),10702,puma does not include a homeland area,households under 1970 definition,...,no,no,n/a,0,n/a,n/a,n/a,0,0,0
2,2016,1,67753,122,california,65,not in identifiable city (or size group),6514,puma does not include a homeland area,households under 1970 definition,...,"n/a; n/a or no (1980, 1990 us)",n/a (all years) or no,california,7100,"auto, truck, or van",drives alone,drives alone,22,1105,1124
3,2016,1,67753,122,california,65,not in identifiable city (or size group),6514,puma does not include a homeland area,households under 1970 definition,...,"n/a; n/a or no (1980, 1990 us)",n/a (all years) or no,california,3700,"auto, truck, or van",drives alone,drives alone,141,502,704
4,2016,1,67753,122,california,65,not in identifiable city (or size group),6514,puma does not include a homeland area,households under 1970 definition,...,"n/a; n/a or no (1980, 1990 us)",n/a (all years) or no,n/a,0,n/a,n/a,n/a,0,0,0

Index(['year', 'datanum', 'serial', 'hhwt', 'statefip', 'countyfips', 'city',
       'puma', 'homeland', 'gq',
       ...
       'vetwwii', 'vetother', 'pwstate2', 'pwpuma00', 'tranwork', 'carpool',
       'riders', 'trantime', 'departs', 'arrives'],
      dtype='object', length=136)

In [4]:
print([col for col in df.columns])

['year', 'datanum', 'serial', 'hhwt', 'statefip', 'countyfips', 'city', 'puma', 'homeland', 'gq', 'gqtype', 'gqtyped', 'farm', 'ownershp', 'ownershpd', 'mortgage', 'mortgag2', 'farmprod', 'acrehous', 'mortamt1', 'mortamt2', 'rent', 'rentgrs', 'rentmeal', 'costelec', 'costgas', 'costwatr', 'costfuel', 'foodstmp', 'lingisol', 'fridge', 'hotwater', 'bedrooms', 'phone', 'cinethh', 'cilaptop', 'cismrtphn', 'citablet', 'ciothcomp', 'cidatapln', 'fuelheat', 'vehicles', 'ssmc', 'nfams', 'nsubfam', 'ncouples', 'multgen', 'multgend', 'pernum', 'perwt', 'sex', 'age', 'marst', 'birthyr', 'marrno', 'yrmarr', 'divinyr', 'widinyr', 'race', 'raced', 'hispan', 'hispand', 'bpl', 'bpld', 'ancestr1', 'ancestr1d', 'ancestr2', 'ancestr2d', 'citizen', 'yrnatur', 'yrimmig', 'yrsusa1', 'language', 'languaged', 'hcovany', 'hinsemp', 'hinscaid', 'hinscare', 'hinsva', 'hinsihs', 'educ', 'educd', 'gradeatt', 'gradeattd', 'schltype', 'degfield', 'degfieldd', 'degfield2', 'degfield2d', 'empstat', 'empstatd', 'labforce', 'occ', 'ind', 'classwkr', 'classwkrd', 'wkswork2', 'uhrswork', 'looking', 'availble', 'inctot', 'ftotinc', 'incwage', 'incbus00', 'incss', 'incwelfr', 'incinvst', 'incretir', 'incsupp', 'incother', 'incearn', 'poverty', 'migrate1', 'migrate1d', 'migplac1', 'migpuma1', 'movedin', 'vetstat', 'vetstatd', 'vet01ltr', 'vet90x01', 'vet75x90', 'vetvietn', 'vet55x64', 'vetkorea', 'vet47x50', 'vetwwii', 'vetother', 'pwstate2', 'pwpuma00', 'tranwork', 'carpool', 'riders', 'trantime', 'departs', 'arrives']

In [5]:
df[df['age'] == 'less than 1 year old'].shape

(3702, 136)

In [6]:
df.iloc[1]

year              2016
datanum              1
serial           67752
hhwt               102
statefip    california
               ...
carpool            n/a
riders             n/a
trantime             0
departs              0
arrives              0
Name: 1, Length: 136, dtype: object

In [7]:
county_fips = pd.read_csv("../data/raw/county_fips.csv")

county_fips['fips'] = county_fips['fips'].astype(int)

county_fips.head()

        county  fips
0  Los Angeles    37

In [8]:
records = county_fips[['fips','county']].to_dict(orient = "records" )
ls_records = []
for record in records:
    
    ls_records.append(list(record.values()))
    fips = {item[0]: item[1] for item in ls_records}

In [9]:
fips

{37: 'Los Angeles'}

In [10]:
df['countyfips'] = df['countyfips'].map(fips)

In [11]:
df['countyfips'] = df['countyfips'].fillna(value = "N/A")

In [12]:
df['city'].unique()

[not in identifiable city (or size group), santa ana, ca, san francisco, ca, los angeles, ca, palmdale, ca, ..., rancho cucamonga, ca, visalia, ca, pasadena, ca, elk grove, ca, ontario, ca]
Length: 23
Categories (23, object): [not in identifiable city (or size group) < antioch, ca < downey, ca < east los angeles, ca ... san francisco, ca < santa ana, ca < sunnyvale, ca < visalia, ca]

In [13]:
occ = pd.read_csv("../data/raw/OCC2016.csv")

occ['ACS'] = occ['ACS'].astype(int)

occ.head()

   ACS                                    Occupation Name
0    0  N/A (Less than 16 years old/unemployed who nev...
1   10                   Chief executivesand legislators2
2   20                    General and operations managers
3   40                Advertising and promotions managers
4   50                       Marketing and sales managers

In [14]:
records = occ[['ACS', 'Occupation Name']].to_dict(orient = "records" )
ls_records = []
for record in records:
    
    ls_records.append(list(record.values()))
    occ = {item[0]: item[1] for item in ls_records}

In [15]:
df['occ'] = df['occ'].map(occ)

In [16]:
df['empstat'].unique()

[not in labor force, employed, unemployed, n/a]
Categories (4, object): [n/a < employed < unemployed < not in labor force]

In [17]:
person = df.iloc[84321]
if person['sex'] == 'male':
    pronounU = 'He'
    pronounL = 'he'
else:
    pronounU = 'She'
    pronounL = 'she'

# work
if person['empstat'] == 'employed':
    work = f"{pronounU} was a {person['occ'][:-1]}"
else:
    work = ''

sentence = f"{pronounU} was {person['age']}. {work}"
    
print(sentence)

He was 46. He was a Miscellaneous managers, including funeral service managers (0325) and postmasters and mail superintendent

In [18]:
len(sentence)

125

## SPACY on OCC

In [19]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [20]:
lemma = []
tag = []

data = df[df['empstat'] == 'employed'].copy()

for doc in nlp.pipe(data['occ'].astype('unicode').values, batch_size=50,
                        n_threads=3):
    if doc.is_parsed:
        lemma.append([n.lemma_ for n in doc])
        tag.append([n.lemma_ for n in doc if n.tag_ == 'NNS'])
    else:
        # We want to make sure that the lists of parsed results have the
        # same number of entries of the original Dataframe, so add some blanks in case the parse fails
        lemma.append(None)
        tag.append(None)


data['occ_lemma'] = lemma
data['occ_tag'] = tag

In [21]:
data['occ_tag'] = data['occ_tag'].apply(lambda x: ', '.join(map(str, x)))
data['occ_lemma'] = data['occ_lemma'].apply(lambda x: ', '.join(map(str, x)))

In [22]:
data.head()

,year,datanum,serial,hhwt,statefip,countyfips,city,puma,homeland,gq,...,pwstate2,pwpuma00,tranwork,carpool,riders,trantime,departs,arrives,occ_lemma,occ_tag
2,2016,1,67753,122,california,N/A,not in identifiable city (or size group),6514,puma does not include a homeland area,households under 1970 definition,...,california,7100,"auto, truck, or van",drives alone,drives alone,22,1105,1124,"Retail, salesperson",salesperson
3,2016,1,67753,122,california,N/A,not in identifiable city (or size group),6514,puma does not include a homeland area,households under 1970 definition,...,california,3700,"auto, truck, or van",drives alone,drives alone,141,502,704,"Retail, salesperson",salesperson
5,2016,1,67754,58,california,Los Angeles,not in identifiable city (or size group),3759,puma does not include a homeland area,households under 1970 definition,...,california,3700,"auto, truck, or van",drives alone,drives alone,10,622,634,"Aerospace, Engineers",
6,2016,1,67754,58,california,Los Angeles,not in identifiable city (or size group),3759,puma does not include a homeland area,households under 1970 definition,...,california,3700,"auto, truck, or van",drives alone,drives alone,12,902,914,"computer, and, information, research, scientist",scientist
7,2016,1,67755,73,california,N/A,"santa ana, ca",5917,puma does not include a homeland area,households under 1970 definition,...,california,5900,"auto, truck, or van",carpools,6,20,532,554,"miscellaneous, production, worker, ,, include,...","worker, processor"

In [23]:
working_df = pd.merge(df, data)

In [24]:
with gzip.open("../data/processed/working-101218-dataset.dta.gz", "wb") as file:
    working_df.to_stata(file)

c:\users\wellsst\appdata\local\programs\python\python36\lib\site-packages\pandas\io\stata.py:687: ValueLabelTypeMismatch:
Stata value labels (pandas categories) must be strings. Column language contains
non-string labels which will be converted to strings.  Please check that the
Stata data file created has not lost information due to duplicate labels.

  ValueLabelTypeMismatch,

### Next time:
Work on creating a {work} sentence using occ_tag and occ_lemma. Maybe look into industry?

# Continuation: 10-16-18

1. Look into using occ_tag to make a work-related sentence
2. look into homeland/farm living
3. maybe us occ_lemma for work related stuff
4. carpool ?

In [25]:
import pandas as pd
import gzip

In [26]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [27]:
with gzip.open("../data/processed/working-101218-dataset.dta.gz", "rb") as file:
    df = pd.read_stata(file)
    
df.shape
df.head()

(173342, 139)

,index,year,datanum,serial,hhwt,statefip,countyfips,city,puma,homeland,...,pwstate2,pwpuma00,tranwork,carpool,riders,trantime,departs,arrives,occ_lemma,occ_tag
0,0,2016,1,67753,122,california,N/A,not in identifiable city (or size group),6514,puma does not include a homeland area,...,california,7100,"auto, truck, or van",drives alone,drives alone,22,1105,1124,"Retail, salesperson",salesperson
1,1,2016,1,67753,122,california,N/A,not in identifiable city (or size group),6514,puma does not include a homeland area,...,california,3700,"auto, truck, or van",drives alone,drives alone,141,502,704,"Retail, salesperson",salesperson
2,2,2016,1,67754,58,california,Los Angeles,not in identifiable city (or size group),3759,puma does not include a homeland area,...,california,3700,"auto, truck, or van",drives alone,drives alone,10,622,634,"Aerospace, Engineers",
3,3,2016,1,67754,58,california,Los Angeles,not in identifiable city (or size group),3759,puma does not include a homeland area,...,california,3700,"auto, truck, or van",drives alone,drives alone,12,902,914,"computer, and, information, research, scientist",scientist
4,4,2016,1,67755,73,california,N/A,"santa ana, ca",5917,puma does not include a homeland area,...,california,5900,"auto, truck, or van",carpools,6,20,532,554,"miscellaneous, production, worker, ,, include,...","worker, processor"

### Homeland/Farm living first because it's pretty straightforward

In [28]:
df['homeland'].unique()
df['farm'].unique()

[puma does not include a homeland area, puma includes a homeland area]
Categories (2, object): [puma does not include a homeland area < puma includes a homeland area]

[non-farm, farm]
Categories (2, object): [non-farm < farm]

In [29]:
df['occ_lemma'] = df['occ_lemma'].str.split(", ,").str[0].str.replace(",","")

In [30]:
df['place'] = df['bpl'].astype(str)

df['place'] = df['place'].str.replace("europe, ns", "europe")
df['place'] = df['place'].str.replace("cambodia (kampuchea)", "cambodia")
df['place'] = df['place'].str.replace("other ussr/russia", "USSR")
df['place'] = df['place'].str.replace("asia, nec/ns", "asia")
df['place'] = df['place'].str.replace("yemen arab republic (north)", "yemen")
df['place'] = df['place'].str.replace("other n.e.c", "")
df['place'] = df['place'].str.replace("united kingdom, ns", "UK")
df['place'] = df['place'].str.replace("americas, n.s", "")

In [31]:
df['commute'] = df['tranwork'].astype(str)

df['commute'] = df['commute'].str.replace("auto, truck, or van", "car")
df['commute'] = df['commute'].str.replace("bus or trolley bus", "bus")
df['commute'] = df['commute'].str.replace("streetcar or trolley car", "trolley")
df['commute'] = df['commute'].str.replace("subway or elevated", "subway")
df['commute'] = df['commute'].str.replace("walked only", "walking")
df['commute'] = df['commute'].str.replace("other", "")

In [32]:
df['last_place'] = df['migplac1'].astype(str)

df['last_place'] = df['last_place'].str.replace("n/a", "")
df['last_place'] = df['last_place'].str.replace("district of columbia", "DC")
df['last_place'] = df['last_place'].str.replace("central america, nec", "central america")
df['last_place'] = df['last_place'].str.replace("other caribbean and north america", "caribbean")
df['last_place'] = df['last_place'].str.replace("south america, nec", "south america")
df['last_place'] = df['last_place'].str.replace("united kingdom (excluding england: 2005acs)", "UK")
df['last_place'] = df['last_place'].str.replace("other northern europe", "northern europe")
df['last_place'] = df['last_place'].str.replace("other western europe", "western europe")
df['last_place'] = df['last_place'].str.replace("ussr", "USSR")
df['last_place'] = df['last_place'].str.replace("other south east asia", "south east asia")
df['last_place'] = df['last_place'].str.replace("other western asia", "western asia")
df['last_place'] = df['last_place'].str.replace("asia, nec", "asia")
df['last_place'] = df['last_place'].str.replace("africa, nec", "africa")
df['last_place'] = df['last_place'].str.replace("abroad (unknown) or at sea", "abroad")

In [33]:
sentences = []

In [34]:
# Copied from above
for i in range(len(df)):
        person=df.iloc[i]

        # demo
        place = ''
        if person['city'] != 'not in identifiable city (or size group)':
            place = person['city'].title() 
            if place == 'San Francisco, Ca':
                place += " \U0001F309" 
            else:
                place += "."
        elif person['countyfips'] != "N/A":
            place = person['countyfips'] + " county"
        else:
            pass

        # origin
        place += f" (born in {person['place'].title()})."

        # work
        if (person['occ_lemma'] != '') & (len(person['occ_lemma']) < 27) & ('(' not in person['occ_lemma']):
            word = person['occ_lemma']
            if word[-3:] == 'ing':
                word = word.replace("ing", "er")
            elif word[-1] == 's':
                word = word[:-1]
            vowels = ['a','e','i','o','u']
            if word[0] in vowels:
                work = f" {pronounU} works as an {word}"
            else:
                work = f" {pronounU} works as a {word}"
        else:
            work = ''

        if work:
            # money
            money = f", make around ${person['inctot']:,.0f}"
            if person['inctot'] >= 100_000:
                money += ' ayy \U0001F4B0.'
            elif person['inctot'] < 1500:
                money = "."
            else:
                money += "."
        else:
            money = ""

        # farm
        if person['farm'] == 'farm':
            if person['sex'] == 'male':
                farm = " {pronounU} lives in a farm " + u'\U0001F468\U0000200D\U0001F33E' + "."
            else:
                farm = " {pronounU} lives in a farm " + u'\U0001F469\U0000200D\U0001F33E' + "."
        else:
            farm = ''

        # school
        if person['age'] < '18':
            grade = person['educd'].split()[-1]
            schooling = f"{pronounU} was in {grade}th grade."
        else:
            schooling = ""

        # commute
        if person['trantime'] > 0:
            commute = f" {pronounU} commutes {person['trantime']} minutes"
            if (person['commute'] != '') & (person['commute'] != 'n/a'):
                commute += f" by {person['commute']}."
            elif person['commute'] == 'walking':
                commute += f" {person['commute']}."
            else:
                commute += "."

        # veteran
        if person['vetstat'] == 'veteran':
            veteran = " I'm a veteran."
        else:
            veteran = ''

        # last year
        if (person['last_place'] != 'california') & (person['last_place'] != ''):
            the_place = person['last_place'].title()
            if the_place == 'Caribbean':
                the_place = 'the' + the_place
            elif the_place == 'Uk':
                the_place = 'the UK'
            elif the_place == 'Abroad':
                the_place = 'abroad'
            elif the_place == 'Ussr':
                the_place = 'the USSR'
            elif the_place == 'Dc':
                the_place = "DC"
            last_place = f" Last year, {pronounU} was living in {the_place}"
        else:
            last_place = ""

        sentence = f"I'm {person['age']} and from {place}{farm}{work}{money}{schooling}{commute}{veteran}{last_place}"
        # print(sentence)
        # len(sentence)
        sentences.append(sentence)

In [35]:
df['sentences'] = sentences

In [36]:
print(u"\U0001F309")

🌉

In [37]:
from random import shuffle
shuffle(sentences)
text = '\n'.join(sentences)
with open('../data/processed/sentences.txt', 'w', encoding = 'utf-8') as file:
    file.write(text)

18809033

In [38]:
print(u'\U0001F468\U0000200D\U0001F33E')

👨‍🌾

In [39]:
print(u'\U0000200D')

‍

In [40]:
print(u"\U0001F33E")

🌾

In [41]:
dff = df.copy()

# place
dff.loc[dff['city']!= 'not in identifiable city (or size group)', 'sentence_place'] = dff['city'].str.title() + "."
dff.loc[dff['city']== 'San Francisco, Ca', 'sentence_place'] = dff['city'].str.title() + " \U0001F309" + "."
dff.loc[((dff['city']== 'not in identifiable city (or size group)') & (dff['countyfips'] != 'N/A')), 'place'] = dff['countyfips'] + " county"

dff['sentence_place'] = "from " + dff['sentence_place'] + " (born in "+dff['place'].str.title()+")."
dff.loc[dff['sentence_place'].isnull(), 'sentence_place'] = "(born in "+dff['place'].str.title()+")."


# work
conditions_work = ((dff['occ_lemma'] != '') & (dff['occ_lemma'].str.len() < 27) & (dff['occ_lemma'].str.contains("\(") == False))
conditions_vowel = ((dff['occ_lemma'].str.startswith('a')) & (dff['occ_lemma'].str.startswith('e')) & (dff['occ_lemma'].str.startswith('i')) & (dff['occ_lemma'].str.startswith('o')) & (dff['occ_lemma'].str.startswith('u')))

dff.loc[((conditions_work) & (dff['occ_lemma'].str[-3:] == 'ing') & (conditions_vowel)), 'sentence_work'] = "{pronounU} worked as a " + dff['occ_lemma'].str[:-3] + "er"
dff.loc[((conditions_work) & (dff['occ_lemma'].str[-3:] == 'ing') & ~(conditions_vowel)), 'sentence_work'] = "{pronounU} worked as an " + dff['occ_lemma'].str[:-3] + "er"

dff.loc[((conditions_work) & (dff['occ_lemma'].str[-1] == 's') & (conditions_vowel)), 'sentence_work'] = "{pronounU} worked as a " + dff['occ_lemma'].str[:-1] 
dff.loc[((conditions_work) & (dff['occ_lemma'].str[-1] == 's') & ~(conditions_vowel)), 'sentence_work'] = "{pronounU} worked as an " + dff['occ_lemma'].str[:-1] 


# farm
dff.loc[((dff['farm'] == 'farm')&(dff['sex'] == 'male')), 'sentence_farm'] = " {pronounU} lived in a farm " + u'\U0001F468\U0000200D\U0001F33E' + "."
dff.loc[((dff['farm'] == 'farm')&(dff['sex'] == 'female')), 'sentence_farm'] = " {pronounU} lived in a farm " + u'\U0001F469\U0000200D\U0001F33E' + "."

# school
dff.loc[(dff['age'] < '18'), 'sentence_schooling'] = "{pronounU} was in " +dff['educd'].str.split().str[-1] +"th grade."

# commute
dff.loc[((dff['trantime'] > 0) & (dff['commute'] != '') & (dff['commute'] != 'n/a')), 'sentence_commute'] = "{pronounU} commuted " + dff['trantime'].astype(str) + " min" + ' by ' + dff['commute'] + "."
dff.loc[((dff['trantime'] > 0) & (dff['commute'] == 'walking')), 'sentence_commute'] = "{pronounU} commuted " + dff['trantime'].astype(str) + " min" + ' ' + dff['commute'] + "."

# veteran
dff.loc[dff['vetstat'] == 'veteran', 'sentence_veteran'] = "{pronounU} was a veteran."

# last place
conditions_place = ((dff['last_place'] != 'california') & (dff['last_place'] != ''))
dff['last_place'] = dff['last_place'].str.title()

# some specific places to change
changes = {
    'Caribbean': 'the Caribbean',
    'Uk': 'the UK',
    'Abroad': 'abroad',
    'Ussr': 'the USSR',
    'Dc': 'DC'
}

dff['last_place'] = dff['last_place'].map(changes)

dff.loc[conditions_place, 'sentence_lastplace'] = "Last year, {pronounU} was living in " + dff['last_place'] + '.'

In [42]:
# prepping for sentence building
sentence_cols = [col for col in dff.columns if 'sentence_' in col]
dff[sentence_cols] = dff[sentence_cols].fillna("")

In [43]:
dff['sentence_final'] = "I'm" + " " + dff['age'].astype(str) + " " +  dff['sentence_place']  + " " +  dff['sentence_work']  + " " +  dff['sentence_farm']  + " " +  dff['sentence_schooling']  + " " +  dff['sentence_commute'] + dff['sentence_veteran']  + " " + dff['sentence_lastplace']

In [44]:
dff['sentence_final'] = dff['sentence_final'].str.replace("  ", " ").str.replace("  ", " ").str.replace("  ", " ")

In [45]:
sentence_cols = [col for col in dff.columns if 'sentence_' in col]

In [46]:
df_to_save = dff[sentence_cols]

df_to_save.to_csv("../data/processed/working-sentences_df.csv", encoding = 'utf-8', index = False,)

In [47]:
from random import shuffle

with open("../data/processed/working-sentences.txt", 'w', encoding = 'utf-8',) as file:
    sentences = list(df_to_save['sentence_final'])
    shuffle(sentences)
    text = "\n".join(sentences)
    file.write(text)

12804555